In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
 
 
uploaded = files.upload()

Saving Churn_Modelling.csv to Churn_Modelling (1).csv

In [ ]:
df = pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.shape

(10000, 14)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
df.duplicated().sum()

0

In [ ]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [ ]:
df.drop(columns=['Surname','CustomerId','RowNumber'],inplace=True)
df.head(4)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0

In [ ]:
df=pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [ ]:
df.head(4)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0

In [ ]:
X = df.drop(columns=['Exited'])
y = df['Exited']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [ ]:
X_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
2694,628,29,3,113146.98,2,0,1,124749.08,1,0,1
5140,626,29,4,105767.28,2,0,0,41104.82,0,0,0
2568,612,47,6,130024.87,1,1,1,45750.21,1,0,0
3671,646,52,6,111739.40,2,0,1,68367.18,1,0,0
7427,714,33,8,122017.19,1,0,0,162515.17,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
2895,621,47,7,107363.29,1,1,1,66799.28,1,0,1
7813,684,63,3,81245.79,1,1,0,69643.31,1,0,0
905,672,45,9,0.00,1,1,1,92027.69,0,0,0
5192,663,39,8,0.00,2,1,1,101168.90,0,0,0
235,763,42,6,100160.75,1,1,0,33462.94,1,0,1

In [ ]:
y_train

2694    0
5140    0
2568    1
3671    0
7427    0
       ..
2895    0
7813    1
905     1
5192    0
235     1
Name: Exited, Length: 8000, dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [ ]:
import tensorflow as tf
print("TensorFlow version:", tf.__version__)

TensorFlow version: 2.8.2

In [ ]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
model= Sequential()

model.add(Dense(11,activation='relu',input_dim=11))
model.add(Dense(11,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [ ]:
model.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 11)                132

 dense_17 (Dense)            (None, 11)                132

 dense_18 (Dense)            (None, 1)                 12

=================================================================
Total params: 276
Trainable params: 276
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss='binary_crossentropy',optimizer='Adam',metrics=['accuracy'])

In [ ]:
model.fit(X_train_scaled,y_train,epochs=10)

Epoch 1/10
250/250 [==============================] - 1s 2ms/step - loss: 0.5873 - accuracy: 0.6741
Epoch 2/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4461 - accuracy: 0.8019
Epoch 3/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4196 - accuracy: 0.8094
Epoch 4/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4015 - accuracy: 0.8265
Epoch 5/10
250/250 [==============================] - 0s 2ms/step - loss: 0.3864 - accuracy: 0.8420
Epoch 6/10
250/250 [==============================] - 0s 2ms/step - loss: 0.3734 - accuracy: 0.8491
Epoch 7/10
250/250 [==============================] - 0s 2ms/step - loss: 0.3635 - accuracy: 0.8525
Epoch 8/10
250/250 [==============================] - 0s 2ms/step - loss: 0.3573 - accuracy: 0.8556
Epoch 9/10
250/250 [==============================] - 0s 2ms/step - loss: 0.3535 - accuracy: 0.8577
Epoch 10/10
250/250 [==============================] - 0s 2ms/step - loss: 0.3508 - accuracy: 0.8579

In [ ]:
model.layers[0].get_weights()

[array([[-0.14622696,  0.25372702, -0.30005646, -0.13457394,  0.18524416,
          0.20295292, -0.17451862,  0.15038206,  0.1072161 , -0.13560294,
         -0.01729018],
        [ 0.05078392, -0.71965283, -0.72685176,  0.3175436 ,  0.11309779,
          0.51820457, -0.66951686,  0.38649487, -0.20973863,  0.5446949 ,
          0.07747202],
        [ 0.02893167,  0.04794609, -0.145346  , -0.02275356,  0.12256957,
          0.06980345, -0.07770243,  0.01410789,  0.09888883,  0.42809018,
         -0.01770788],
        [ 0.42298907, -0.15303187, -0.14855629, -0.06615295, -0.3864091 ,
         -0.0360567 ,  0.8351281 ,  0.02386777, -0.61833394, -0.16010682,
          0.14390475],
        [ 0.8676683 ,  0.05888598, -0.04285364, -0.9773045 , -0.7001043 ,
         -0.25288808, -0.21653137,  0.56603104,  0.22408962,  0.09160147,
         -0.022425  ],
        [ 0.0688357 , -0.37890688,  0.37403396,  0.1506082 , -0.20571342,
         -0.11542484,  0.09659241,  0.05047526,  0.32076922,  0.51793224,
         -0.23004608],
        [-0.11429829, -0.32995608,  0.04915234, -0.20520231,  0.00297559,
          0.8538411 ,  0.02479929, -0.10131155, -0.21706082,  0.5545352 ,
         -0.5247462 ],
        [ 0.12427299,  0.04820406,  0.16322632, -0.05387751, -0.05949507,
         -0.20913647, -0.27277356, -0.37218466, -0.25039235, -0.10837106,
         -0.23339875],
        [-0.22992553, -0.02167452,  0.01942093,  0.10607352,  0.21094766,
         -0.44101948, -0.39752012,  0.06325759,  0.30764127, -0.09216756,
         -0.37348455],
        [ 0.09621174,  0.1199973 ,  0.37499362, -0.03622113,  0.2676771 ,
          0.21635798, -0.25768515, -0.09896709, -0.5030118 ,  0.11173805,
         -0.30212057],
        [-0.17735445,  0.6795827 , -0.32936645, -0.25977704,  0.37513652,
          0.4455288 , -0.43466088, -0.0335701 , -0.19706765,  0.28924745,
         -0.39806995]], dtype=float32),
 array([-0.28943485,  0.37954658,  0.4892368 ,  0.04323938, -0.17796507,
         0.2266556 ,  0.23891787, -0.24653646,  0.42732382, -0.0112243 ,
         0.04488059], dtype=float32)]

In [ ]:
y_log=model.predict(X_test_scaled)

In [ ]:
y_pred=np.where(y_log>0.5,1,0)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8585